@use '/src/components/ChatRoom/Sidebar/Sidebar';
@use '/src/theme/variables';

.graper-group {
  height: 100vh;
  .header-group {
    display: flex;
    height: 56px;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid variables.$borderColor;
    background-color: variables.$primaryColor;
    color: variables.$lightText;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    .title {
      font-weight: bold;
      font-size: 20px;
      margin: 0 0 0 0.3em;
      flex-basis: 95%;
      text-align: center;
      padding: 0;
      @media (max-width: 600px) {
        margin: 0 1em 0 0;
      }
    }
    .btn-exit {
      display: none;
      height: 56px;
      align-items: center;

      .btn-left {
        color: variables.$lightText;
        &:hover {
          background-color: rgba(126, 166, 206, 0.2);
        }
      }
    }
  }
  .group-info-body {
    height: calc(100% - 56px);
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 8px;
      background: rgba(0, 0, 0, 0);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 4px;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      :hover {
        font-weight: 600;
      }
    }
    .info {
      padding: 10px 0 0 10px;
      height: 110px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .avatar-group {
        @include Sidebar.avatar-generator;
      }
      .title-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        .title {
          font-weight: 500;
          font-size: var(--step--1);
          padding: 0;
          margin: 0;
        }
        .btn-edit {
          background-color: variables.$lightText;
          margin-left: 0.3em;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          &:hover {
            background-color: rgba(182, 182, 182, 0.822);
          }
        }
      }
    }
    .members {
      display: flex;
      flex-direction: column;
      gap: 3px;
      .member {
        width: 100%;
        min-height: 60px;
        max-height: 60px;
        display: flex;
        padding: 0 10px 0;
        &:hover {
          background-color: variables.$hoverColor;
        }
        .name,
        .avt {
          align-self: center;
          .ant-avatar-string {
            font-size: 20px;
            top: 5%;
          }
        }
        .name {
          max-width: 70%;
          margin: 0 5px 0 5px;
          text-overflow: ellipsis;
          overflow-x: hidden;
          white-space: nowrap;
        }
      }
    }
    .btn {
      &:hover {
        background: variables.$hoverColor;
      }
      .ant-btn-text {
        background: transparent;
        &:hover {
          background: transparent;
        }
      }
    }
  }
}
