@use '/src/components/ChatRoom/Sidebar/Sidebar';

.chat-frame-wraper {
  height: 100vh;
  border-right: 1px solid rgb(230, 230, 230);
  .header-graper {
    background-color: #4682b4;
    display: flex;
    height: 70px;
    max-width: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: space-around;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

    .btn-exit {
      display: none;
      align-items: center;
      justify-content: center;
      .btn-left {
        color: white;
        &:hover {
          background-color: rgba(126, 166, 206, 0.2);
        }
      }
    }

    .avatar-group {
      margin: 0 0 0.1em 0.5em;
      @include Sidebar.avatar-generator;
      @media (max-width: 600px) {
        display: none;
      }
    }

    .group-title {
      max-height: 100%;
      flex: 7 1 70%;
      max-width: calc(98% - (64px + 58px + 28px));
      @media (max-width: 600px) {
        max-width: calc(98% - (64px + 58px));
      }
      .title {
        margin: 0;
        font-weight: 500;
        font-size: var(--step-1);
      }
      .description {
        font-size: var(--step--2);
        font-family: 'Montserrat', sans-serif;
        margin: 0 0 0.5em 0;
        padding: 0;
      }
      .title,
      .description {
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
      }
    }

    .btns {
      margin: 0 0.5em 0 0;
      .btn-open-group-info {
        color: white;
      }
      .add-member-btn {
        color: white;
      }
    }
  }

  .messages-content {
    height: calc(100vh - 70px);
    max-width: 100%;
    position: relative;

    .messages-list {
      max-width: 100%;
      min-height: 100%;
      max-height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      padding: 0 0 3em 0;
      position: relative;

      &::-webkit-scrollbar {
        width: 8px;
        background: rgba(0, 0, 0, 0);
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        &:hover {
          border: 1px solid white;
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
      .graper-right-content,
      .graper-left-content {
        display: flex;
        max-width: 100%;
        min-width: 100%;
        margin: 10px 0 5px 0;
        padding: 5px;
        .mess-avt {
          margin: 0 8px 0 8px;
          cursor: pointer;
        }
        .contents {
          width: fit-content;
          max-width: 70%;
          height: auto;
          border-radius: 7px;
          padding: 0 12px 10px 12px;
          word-wrap: break-word;
          .name {
            color: gray;
            font-size: 0.9rem;
          }
          .message {
            font-size: var(--step--1);
            font-weight: 400;
            margin-bottom: 0;
          }
          .time-stamp {
            font-family: 'Montserrat', sans-serif;
            font-size: 0.6rem;
            color: gray;
          }
        }
        .right {
          padding-top: 0.5em;
          background-color: #dffadf;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }
        .left {
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }
      }
      .graper-right-content {
        justify-content: flex-end;
      }
      .graper-left-content {
        justify-content: flex-start;
      }
    }

    .messages-list > :first-child {
      margin-top: auto;
    }

    .typing {
      height: 20px;
      width: auto;
      margin-left: 1em;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.527);
      border-radius: 0.4em;
      padding-inline: 0.5em;
      .typing-text {
        font-size: 1rem;
        margin-right: 10px;
        background-image: linear-gradient(
          to right,
          #0e497c 10%,
          #5ebde9 50%,
          #57d75b 60%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;

        @keyframes textclip {
          to {
            background-position: 200% center;
          }
        }
      }
    }
    .emojis-container {
      position: absolute;
      right: 3em;
      width: fit-content;
      bottom: 50px;
      @media (max-width: 600px) {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .form-message {
      font-family: 'Montserrat', sans-serif;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      width: 100%;
      gap: 0px;
      background-color: transparent;
      min-height: 50px;
      bottom: 0.2em;
      @media (max-width: 600px) {
        bottom: 0.5em;
      }
      .input-container {
        min-height: 2em;
        max-height: 5em;
        width: calc(96% - 90px);
        margin-left: 0.7em;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
          width: 6px;
          background: rgba(0, 0, 0, 0);
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 4px;
          &:hover {
            border: 1px solid white;
            background-color: rgba(0, 0, 0, 0.6);
          }
        }
        .input {
          width: 97%;
          height: 100%;
          margin-left: 0.5em;
          padding: 0.5em;
          font-size: 0.9rem;
          border: none;
          background-color: #0e497ce7;
          color: white;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }

      .btns {
        margin-right: 1em;
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.2em;

        .ant-btn-icon-only > * {
          font-size: 22px;
        }
        .btn-open-emoji,
        .btn-send {
          width: 40px;
          height: 40px;
        }
      }

      ::placeholder {
        color: rgb(199, 228, 240);
        opacity: 1; /* Firefox */
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: rgb(199, 228, 240);
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: rgb(199, 228, 240);
      }
    }
  }
}
