.ant-modal-content,
.ant-modal-header {
  border-radius: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.ant-image-preview-img {
  width: 300px;
}

.ant-dropdown-menu-item-only-child :hover {
  background: rgba(230, 230, 230, 0.75);
}




