.ant-modal-content,
.ant-modal-header {
  border-radius: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.ant-image-preview-img {
  width: 300px;
}

.btn-dropdown-list {
  width: 100%;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .ant-row > .ant-col-6 {
    flex: auto;
    min-width: 100vw;
  }

  .ant-row > .ant-col-18 {
    flex: auto;
    min-width: 100vw;
  }

  .ant-row > .ant-col-18 > .ant-row > .ant-col-16 {
    display: none;
  }
  .ant-row > .ant-col-18 > .ant-row > .ant-col-8 {
    flex: auto;
    min-width: 100vw;
    .graper-group > .header-group > .btn-exit {
      display: flex;
    }
  }

  .chat-window-responsive-close {
    display: none;
  }

  .chat-window-responsive-open {
    display: block;
    .ant-col-18 {
      flex: auto;
      min-width: 100vw;
    }
    .chat-frame-wraper > .header-graper > .btn-exit {
      display: flex;
    }
  }

  .room-list-responsive-open {
    display: block;
    .side-bar > .room-list > .room > .titles {
      padding: 0;
    }
    .side-bar > .room-list > .room {
      padding: 0;
    }
  }
  
  .room-list-responsive-close {
    display: none;
  }
}
