@use '~antd/dist/antd';

body {
  margin: 0;
  font-family: Segoe UI;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--step-0);
}
code {
  font-family: 'Times New Roman', Times, serif;
  /* source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}
